#topNav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  font-family: "Bold";
  padding: 5px;
}

a {
  text-decoration: none;
}

#logOut {
  cursor: pointer;
  font-size: 0.6rem;
  letter-spacing: 0px;
}

.navLink {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 17px 15px 4px;
  margin-left: 5px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.navLink::after {
  content: "";
  background-color: #b8d5f6;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 6px;
  left: 7px;
  transition: 0.2s;
}
.navLink:hover::after {
  top: 0px;
  left: 0px;
}

#navRight {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .navLink {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 8px 10px 6px;
  }
}
@media screen and (max-width: 300px) {
  .navLink {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 4px 5px 3px;
    height: 22px;
  }
}
