#topNav{
    display: flex;
    flex-direction: row;
    gap: 15px ;
    background-color: rgb(18, 46, 172);
    color: white;
    font-family: 'Arial Rounded MT Bold';
    padding: 5px;
}

a{
    text-decoration: none;
    
}
.navLink{
    color: white;
}
#logOut{
    cursor: pointer;
}